
body {
    font-size:25px;
    line-height: 50px;
    font-family: 'Roboto';
	background: linear-gradient(-45deg, #D9ED92, #B5E48C, #99D98C, #76C893, #52B69A, #34A0A4, #168AAD,#1A759F,#1E6091,#184E77);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    border-bottom: 3px solid #2883e3;
    font-family: 'Roboto', sans-serif;

}
h2{
    font-size: 24px;
    text-align:left;
}

header, main, footer{
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1080px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}
header, footer, footer a {
    text-align: center;
    background-color: #cecece;
    color: #2883e3;
    font-family: 'Lato', sans-serif;

}

header img {
    
    width: 200px;
	height: 200px;
	border-radius: 50%;
}

footer {
    font-size: 40px ;
    clear: both;
    
}