
body{
    font-size:25px;
    line-height: 50px;
    color: #2883e3;
    font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 30px;
    color: #2883e3;
    text-align: center;
    border-bottom: 3px solid #2883e3;
    font-family: 'Roboto', sans-serif;

}
h2{
    font-size: 24px;
    text-align:left;
}

header, main, footer{
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1080px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}
header, footer, footer a {
    text-align: center;
    background-color: #cecece;
    color: #2883e3;
    font-family: 'Lato', sans-serif;

}

header img {
    
    width: 200px;
	height: 200px;
	border-radius: 50%;
}

footer {
    font-size: 40px ;
    clear: both;
    
}