
body{
    font-size:25px;
    line-height: 50px;
    color: #2883e3;
    font-family:'Open Sans', sans-serif;
}

h1{
    font-size: 40px;
    color: #2883e3;
    text-align: center;
    border-bottom: 3px solid #2883e3;

}
h2{
    font-size: 34px;
    text-align:left;
}
header, main, footer{
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1080px;
    border-radius: 25px;
}
header, footer, footer a {
    text-align: center;
    background-color: #cecece;
    color: #2883e3;
}

header img {
    width: 400px;
    height: auto;
    float: right;
}

footer {
    font-size: 20px ;
    clear: both;
}