
body{
    font-size:15px;
    line-height: 32px;
    color: #2883e3;
    font-family:'Open Sans', sans-serif;
}

h1{
    font-size: 22px;
    text-align: center;
    border-bottom: 3px solid #cecece;

}
h2{
    font-size: 18px;
    text-align:left;
}
header, main, footer{
    margin: 1.25rem  auto;
    padding:1rem;
    max-width: 1024px;
}
header, footer, footer a {
    text-align: center;
    background-color: #141414;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: 10px ;
}