@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
body{
    font-size:15px;
    line-height: 32px;
    color: #2883e3;
    font-family:'Open Sans', sans-serif;
}

h1{
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #cecece;

}
h2{
    font-size: 14px;
    text-align:left;
    

}
