@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins:wght@300&family=Quicksand:wght@700&display=swap');

h1, h2{
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-family: 'Quicksand', sans-serif;
    color:#32322c ;
}

p{
    font-family: 'Poppins', sans-serif;
    color:#32322c ;

}

p b{
    color:#39A0ed;
}
 
.navbar ul {
    background-color:  #36f1CD;
    align-items: center;
    justify-content: center;
    list-style-type: none;
	  margin: 0;
	  padding: 0;
	
  }

  nav ul li a {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
	display: flex;
	color:#4C6085;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
} 

a:hover {
    background-color: #39A0ed;
    color: #fff;
  }

  header{
    background-color:  #4C6085;
    text-align: center;
    color: #fff;
    margin:auto;
    padding: 1rem;
  }

.typograph{
    background-color:  #ffff;
    text-align: center;
    color: #4C6085;
    margin:auto;
    padding: 1rem;
}
  body{
    background-color:  #fff;
    color:#32322c ;
    text-align: center;
    margin:auto;
    
}

 .logo-side{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.persona{
    font-size: 18px;
    font-family:'Poppins', sans-serif;
}

.color_scheme{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:auto;
    padding: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer{
    background-color:  #36f1CD;
    color: #32322c;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin:auto;
    padding: 1rem;

}
/* For mobile phones: */
[class*="col-"] {
    display: flex;
    width: 100%;
  }
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
	nav ul { 
		display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }   
	nav a {
		font-size: 1rem;
    }
  }
